---
---

@import "{{ site.theme }}";
#project_tagline {display: none;}
#header_wrap {background: ##8b008b;}
a:link {text-decoration: underline;}
a:focus, a:hover {font-weight: bold;background-color: #a3cfe8;color: #174d71;text-decoration: underline;}
